.newOffersContainer {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.newOffersContainer h2 {
    margin-left: 20px;
    text-transform: uppercase;
}

.productContainer {
    display: flex;
    position: relative;
}

.productArrowContainer {
    position: absolute;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.productArrowLeft {
    left: -40px;
}

.productArrowRight {
    right: -40px;
}

.productArrow {
    width: 20px;
    background-color: #6d6e71;
    border-radius: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.productArrow:hover {
    background-color: #000;
}

.productCard {
    border: 1px solid lightgray;
    border-radius: 2.5px;
    margin-right: 20px;
    text-decoration: none;
    color: #6d6e71;
    position: relative;
}

.productCard:first-child {
    margin-left: 20px;
}

.productSale {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f61920;
    color: #fff;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 50%;
}

.productInfo {
    padding: 0 10px 10px 10px;
}

.productInfo h3 {
    color: #000;
    margin-top: 0;
}

.productPrice {
    font-weight: bold;
}

.productPrice span:first-child {
    color: #000;
    text-decoration: line-through;
}

.productPrice span:last-child {
    color: #f61920;
    padding-left: 10px;
}