.profileContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.profileLoginForm {
    margin: 40px;
    border: 1px solid lightgray;
    border-radius: 2.5px;
}

.profileLoginForm h2 {
    text-transform: uppercase;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.profileLoginContainer {
    display: flex;
    padding: 20px;
}

.profileLoginContainer h3 {
    text-align: center;
    margin-top: 0;
}

/* Login */
.profileLoginSide {
    margin-right: 40px;
}

.profileLoginSide form {
    margin-bottom: 15px;
}

.profileLoginSide label {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.profileLoginSide label input {
    width: 100%;
    box-sizing: border-box;
}

.profileLoginSideInputBtn {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    width: 100px;
    border-radius: 2.5px;
}

.profileLoginSide a {
    display: inline-block;
    margin-top: 5px;
    color: #6d6e71;
}

.profileLoginSide a:hover {
    color: #000;
}

/* Register */
.profileRegisterItem {
    display: flex;
    margin-bottom: 10px;
}

.profileRegisterSide {
    display: flex;
    flex-direction: column;
}

.profileRegisterSide p {
    text-align: center;
    font-weight: bold;
    color: #6d6e71;
}

.profileRegisterItem img {
    width: 20px;
    margin-right: 10px;
}

.profileRegisterSide a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    box-sizing: content-box;
    width: 100px;
    align-self: center;
    border-radius: 2.5px;
}