.profileRegisterContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.profileRegisterForm {
    margin: 40px;
    border: 1px solid lightgray;
    border-radius: 2.5px;
}

.profileRegisterForm h2 {
    text-transform: uppercase;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.registerFormDiv {
    width: 100%;
}

.profileRegisterFormContainer {
    display: flex;
    padding: 20px;
}

.profileRegisterFormContainer h3 {
    text-align: left;
    margin-top: 0;
}

.profileRegisterFormContainer form {
    margin-bottom: 15px;
    width: 100%;
}

.profileRegisterFormContainer label {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.profileRegisterFormContainer label input {
    width: 100%;
    box-sizing: border-box;
}

.profileRegisterFormContainerInputBtn {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    width: 125px;
    border-radius: 2.5px;
    cursor: pointer;
}

.profileRegisterFormContainerInputBtn:hover {
    background-color: #6d6e71;
}

.profileRegisterFormContainer a {
    display: inline-block;
    margin-top: 5px;
    color: #6d6e71;
}

.profileRegisterFormContainer a:hover {
    color: #000;
}

/* Register */
.profileRegisterItem {
    display: flex;
    margin-bottom: 10px;
}

.profileRegisterSide {
    display: flex;
    flex-direction: column;
}

.profileRegisterSide p {
    text-align: center;
    font-weight: bold;
    color: #6d6e71;
}

.profileRegisterItem img {
    width: 20px;
    margin-right: 10px;
}

.profileRegisterSide a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    box-sizing: content-box;
    width: 100px;
    align-self: center;
    border-radius: 2.5px;
}